---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fup Node Tester">
  <header
    class="h-screen gap-4 flex flex-col justify-center items-center text-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="120"
      height="120"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="icon icon-tabler icons-tabler-filled icon-tabler-flask"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M15 2a1 1 0 0 1 0 2v4.826l3.932 10.814l.034 .077a1.7 1.7 0 0 1 -.002 1.193l-.07 .162a1.7 1.7 0 0 1 -1.213 .911l-.181 .017h-11l-.181 -.017a1.7 1.7 0 0 1 -1.285 -2.266l.039 -.09l3.927 -10.804v-4.823a1 1 0 1 1 0 -2h6zm-2 2h-2v4h2v-4z"
      ></path></svg
    >
    <h1 class="text-6xl font-bold text-white">Fup Node Tester</h1>
    <p class="text-3xl font-medium">
      Utility to test the operation of fup-node in backend
    </p>
    <a role="button" href="/tests" class="btn btn-lg btn-accent text-xl mt-6"
      >GET STARTED</a
    >

    <div class="mt-12 flex flex-col text-center gap-4">
      <h3 class="text-4xl text-white">What is fup-node?</h3>
      <p class="text-xl font-medium text-center">
        Upload files to storage in nodejs regardless of the backend framework or
        library. <br /><a
          class="link"
					target="_blank"
          href="https://daniel1zzz.github.io/fup-node/">Read more...</a
        >
      </p>
    </div>

    <div class="mt-8 flex flex-col gap-4">
      <h3 class="text-3xl text-white">Install in the backend</h3>
      <div class="mockup-code">
        <pre
          data-prefix="$"
          class="text-xl"><code>npm install fup-node</code></pre>
      </div>
    </div>
  </header>
</Layout>
